KekikTaban
KekikSpatula
setuptools
pyrogram
asyncio
aiohttp
tgcrypto
python-dotenv
wget
youtube_dl
Pillow
humanize
google-api-python-client
oauth2client
google_auth_oauthlib
googletrans>=4.0.0-rc1
langcodes